# NetBeans specific #
nbproject/private/*
build/
nbbuild/
dist/
# doc/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# But not these files... (needed libraries)
!jlfgr-1_0.jar
!jtar-1.1.jar